// theme colors
$primaryColor : #41738a;
$secondaryColor: #efe9d6;

// card color
$cardBackgroundColor: #fffcf1;

// header color
$header-background-color: #1f313b;
$header-searchbar-color: #9e9f9e;
$header-addstory-button-color: #4d7d93;
$header-menu-button-color: #bebfbf;
$search-bar-border-color: #dfdac7;

$separatorColor: #4e6976;

