.caseletForm {
  .rejectComment {
    color: red;
  }

  .stepHeader {
    font-style: italic;
    color: #4e6976
  }

  .step-separator {
    border-top: 1px solid #4e6976;
    color: #4e6976;
  }

  .tagInput {
    text-transform: uppercase;
    border: solid 1px #e8ecee;
    border-radius: 2%;
  }

  .coverImage {
    width: 3rem;
  }

  .toolTipInfo {
    font-size: 16px;
    max-width: 60rem
  }

  .toolTipInfoSmall {
    font-size: 12px;
    max-width: 30rem;
    padding: 1rem;
  }

  .fileButton {
    display: none;
  }

  .custom-select {
    border: #ced4da solid 1px !important;
  }

  .invalid-quill {
    .ql-editor {
      border: #dc3545 solid 1px !important;
    }
    .ql-toolbar {
      border: #dc3545 solid 1px !important;
    }
  }

  .invalid-form-data {
    color: #dc3545;
    font-size: 12px;
  }

  .primary-button {
    min-width: 6rem;
  }
}
