.caselet-filter {
  .user-info {
    display: inline-block;
    // height: 6rem;
    .user-details {
      vertical-align: middle;
      .user-image {
        float:left;
        width: 30%;
        border-radius: 50%;
        border: solid 2px white;
        margin-right: 0.5rem;
      }
      .user-name {
        overflow-wrap: break-word;
        font-size: 90%;
      }

      .user-job-title {
        overflow-wrap: break-word;
        font-size: 70%
      }
    }
  }
}
