<div class = "pending-caselet">
  <div class="container-fluid mt-3">
  <!-- <div *ngIf="dataFetched"> -->
  <h4 class = "page-heading">Submitted Caselets</h4>
  <select class = "form-control">
    <option>Please Select</option>
  </select>
  <br />
  <hr class="separator">
  <div *ngFor="let caselet of submittedCaselets">
    <div class="row">
      <div class="col-9 m-0 p-0">
        <p class="caselet-title"><b>{{caselet.title | uppercase}}</b>&nbsp;</p>
        <p class="caselet-author">| {{caselet.authorName}}</p>
      </div>
      <div class="col-3 m-0 p-0">
        <span class="float-right">
            <img *ngIf = "caselet.status == 'Approved'" src = "assets/icons/caselet-approved.svg" class = "caselet-status-icon">
            <span class = "open-link" [routerLink]="['/user/admin/approveCaselet', caselet.id]">
              OPEN
            </span>
          <button (click) = "displayId($event)" type="button" data-toggle="collapse"  class="arrow-button collapsed" [attr.data-target]="'#caselet' + caselet.id" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-up"></i></button>
        </span>
      </div>
      <div class="collapse col-9" attr.id="caselet{{caselet.id}}">
          <div>
            <br />
            <span>Submitted Date : {{caselet.submittedTime | date: 'dd/MM/yyyy'}} &nbsp;|&nbsp; Approved Date : {{caselet.approvedTime | date: 'dd/MM/yyyy'}} &nbsp; | &nbsp; Status : {{caselet.status}} &nbsp; | &nbsp; Admin Name: {{caselet.adminName}}</span>
            <br />
            <br />
          </div>
        </div>
      </div>
      <hr class="separator">
    </div>
    <div *ngIf="noPendingCaselets">
      <br />
      <h3>There are no pending caselets.</h3>
    </div>
  </div>
  </div>
