<div class="landing">
  <app-tag-cloud></app-tag-cloud>
  <app-caselet-filter></app-caselet-filter>
  <div class="float-right landingContent">
    <div class="container-fluid">
      <div class="row  mt-2">
        <div class="col-9">
          <app-caselets></app-caselets>
        </div>
        <div class="col sharedLikedCaselets">
          <div class = "spacing-component">
            <app-most-shared-caselets></app-most-shared-caselets>
            <hr>
            <app-most-liked-caselets></app-most-liked-caselets>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
